.body{
    background-color: #f8f9ff;
    overflow: hidden;
    overflow-x: hidden;
}

.container{
    display: grid;    
    overflow: hidden;
    overflow-x: hidden;
    grid-template-columns: 250px 1fr;
}

.hidden{
    display: none;
}

.card-container{    
    border: 1px solid #c7c7c7;
    margin: 15px;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

settings{
    max-height: calc(100% - 100px);
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.menu-li{
    cursor: pointer;
}

/* Sidebar */

.sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    border-right: 1px solid #c1c1c1;
    box-shadow: 0 0 5px 1.5px #c1c1c1;
    background-color: #435cc8;
}

.user{
    padding-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; 
}

.user-avatar{
    border: 5px solid #ffffff;
    border-radius: 50%; 
    cursor: default;
}

.user-name{
    color: #ffffff;
    padding: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: default;
    user-select: none;
}

.menu{ 
    display: grid;    
    width: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: left; 
}

.menu-ul{
    width: 100%;
}

.menu-ul>li{
    list-style: none;
    user-select: none;
    width: 100%;
    height: 34px;
    padding-top: 17px;
    color: #7d90e7;
}

.menu-ul>li:hover,.selected{
    cursor: pointer; 
    background-color: #6175d0;
}

.menu-item{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: 25px;    
    color: #ffffff;
}

.menu-label{
    margin-left: 12px;
    margin-top: 4px;
    position: absolute;
}

.menu-icon{
    font-size: 1.4rem;
}

/* Dashboard Container */

.dashboard-container{
    display: grid;
    grid-column: 1fr;
}

/* Agenda */

.agenda{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas: "calendar agenda" "contacts agenda";
    grid-template-rows: 0.5fr 2fr;
    grid-gap: 2px;
}

.agenda>.calendar-container{   
    grid-area: calendar;
}

.agenda>.contact-container{ 
    grid-area: contacts;    
    align-items: center; 
    align-content: start;
}

.agenda>.agenda-container{
    grid-area: agenda;
    align-items: start; 
    align-content: start;
}

/* Contact List */

.contacts-ul{
    background-color: white;
    border: 1px solid #c1c1c1c1;
    border-radius: 5px;
}

.contact-item{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}

.contact-item:hover{
    background-color: #eeeeee;
}

.contact{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.contact-info{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5px;
}

.contact-info>span{
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.contact-name{
    font-weight: bold;
    text-transform: capitalize;
}