<template>
  <div class="sidebar">
    <div class="user">
        <img class="user-avatar" src.bind="user.picture.large" alt="">
        <span class="user-name">${user.name.first + ' ' + user.name.last}</span>
    </div>
    <div class="menu">
      <ul>
        <li repeat.for="item of menuItems" class="${item.selected ? 'selected' : ''}">
          <div class="menu-item" click.delegate="openModal()">
            <font-awesome-icon class="menu-icon" icon.bind="item.icon"></font-awesome-icon>
            <span class="menu-label">${item.title}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>